@import url('./__brief/two-columns__brief.css');
@import url('./__paragraph/two-columns__paragraph.css');
@import url('./__span-accent/two-columns__span-accent.css');

.two-columns {
  width: 80%;
  min-width: 784px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  padding: 0 10%;
  }
