.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}
/* Beginning of header block style rules*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  
  /* parameters for the header section */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  /*z-index: 1;*/
}

.header__title {
  width: 730px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-top: 250px; /* placeholder value*/
  
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
  } 

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 80px;
  }

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color:#2f80ed;
  }

  /*End of header block style rules*/

  /* Beginning of description section/ two-column block*/

  

  .two-columns {
    width: 80%;
    min-width: 784px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding: 0 10%;
    }

  

  .two-columns__brief {
    color:#2f80ed;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding-right: 5%;
    align-self: flex-start;
    margin-top: 0;
  }

  .two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
     /*temp need modifier*/
    margin-top: 0;
    margin-bottom: 30px;
    }

  .two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }

  /* End of description section/ two-column block*/

  /*Beginning of digits section*/

  .section-title {
    width: 60%;
    margin: 100px auto 20px ;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .section-subtitle {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

  .table {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
  }

  .table__cell {
    width: 250px;
    margin-top: 60px;
  }

  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    }

  .table__text {
    padding-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
  }
/*End of digits block*/

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
